:root {
    --primary: rgba(18, 178, 179, 1) !important;
    --secondary: rgba(18, 17, 44, 1);
  }
  .App {
    font-family: 'Manrope';
    font-style: normal;
  
  }
 
  .user-image {
    width: 30px;
height: 30px;
border-radius: 12px;

  }

  .counter{
    width: Fixed (24px);
height: Fixed (16px);
top: -4px;
left: 32px;
border-radius: 24px;
background-color: rgba(18, 178, 179, 1);

  }