/* Sidebar.css */

/* Vector */
.navbar-header-text {
    width: 125.87px;
    height: 12.01px;
  }
  
  .nav-link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #12112C;
  }

  .navbar-vertical{
    background: rgba(236, 249, 249, 1);
  }

  .expanded{
    width: 60%;
  }

  .collapsed{
    width: 100%;
  }
  